body {
  background-image: url("background.jpeg");
}

.title {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.title.word {
  background-color: white;
}

.container {
  position: relative;
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  color: white;
}

.loginbox {
  width: 230px;
  height: 270px;
  margin: 0 15px 15px 15px;
  border: 20rem;
  background-color: rgb(130, 38, 38);
  color: white;
}
#fileNo {
  color: black;
}

.fileSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginArea {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 1.5rem;
}

.loginSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWithGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.memo {
  width: 230px;
  height: 230px;
  margin: 0 15px 15px 0;
  border: 20rem;
  background-color: rebeccapurple;
}
