.stopwatch {
  width: 50%;
  text-align: center;

  color: #fff;
}

.stopwatch hr {
  margin: 0.75em 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.buttonGroup button {
  margin-top: 15px;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
