body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHgxMTQxMDEwLWltYWdlLWt3eXIwczA2LmpwZw.jpg?s=6cqHLiXr2NRrMoOw02VDimGsSdj0f0dUidikTT-M6o8");
  margin: 1rem;
}

main {
  display: flex;
}

.title {
  /* position: fixed; */
  /* right: 1rem; */
  /* top: 1rem; */
}

.memo-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 2rem);
  overflow: auto;
  margin-right: 1rem;
}

.title .word {
  background-color: white;
  font-size: 2rem;
  margin: 2px;
}

form {
  padding: 1rem;
  background-color: #871413;
  text-align: center;
  display: block;
  height: fit-content;
  width: 15rem;
}
form h1 {
  color: red;
}
form p {
  color: white;
}

#memo-form {
  margin-bottom: 1rem;
}

#login-form {
}

#login-form label {
  display: block;
  padding: 0.5rem;
}
#login-form input[type="submit"] {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#login-form a {
  color: lightblue;
}

#logout-form {
  display: none;
}

.memo {
  background-color: #f5e37b;
  width: 12rem;
  height: 12rem;
  display: inline-block;
  margin: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.memo button {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  border-radius: 100%;
  border: 0;
  font-size: 1rem;
  display: none;
}
.memo .delete-btn {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.memo .edit-btn {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.memo-inner {
  overflow: auto;
  max-height: 12rem;
}

.memo img {
  max-width: 100%;
  max-height: 12rem;
}
